.pokedex-container {
    background-color: #090808;
    margin-left: 15%;
    width: 70%;
    min-height: 45px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}

.pokelist-container {
    width: 300px;
    flex-grow: 3;
    background-color: rgb(255, 0, 0);
    height: 460px;
    margin: 10px;
    border-radius: 10px 1px 1px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pokesearchresult-container {
    display: flex;
    align-items: center;
    width: 300px;
    flex-grow: 1;
    margin: 10px;
    background-color: rgb(253, 0, 0);
    height: 460px;
    margin: 10px;
    border-radius: 1px 10px 10px 1px;
}